* {
    color: orange;
    background-color: black;
    margin: 0;
    padding: 0;
}

#game-container {
    gap: 100px;
    display: flex;
}

.grid-cell {
    border: 2px solid orange;
    min-width: 20px;
    min-height: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); 
    border: 2px solid white;
    max-width: 400px;
    transform: rotate(0.75turn)
}

.occupied {
    background-color: white;
}

.hit {
    background-color: blue;
}

.occupied.hit {
    background-color: red;
}